*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.6em;
    font-weight: 300;
}
body::-webkit-scrollbar{
    display: none;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/**-----HEADER--(HERO SECTION)------**/
.header{
    background:linear-gradient(120deg, #c3800c,#ff3700);
    height: 100vh;
    margin: auto;

    /**--------NAVBAR----------**/
    .nav{
        align-items: center;
        color: #fff;
        display: flex;
        height: 10vh;
        justify-content: space-between;
        padding: 0.5rem 2rem;
        position: fixed;
        width: 100%;
        z-index: 100;


        /**-----NAV-ITEMS------**/
        .nav__list{
            display: flex;
            flex-direction: row;
            gap: 2rem;

            .nav__item{
                mix-blend-mode: color-dodge;
                opacity: 0.5;
            }
        }
    }
    /**-----ONE---(SECTION#1)---(HERO)------**/
    .one{
        display: flex;
        justify-content: center;
        padding-top: 20vh;
        position:relative;

        /**-----FANTA TEXT------**/
        h1{
            color: #fff;
            font-family: 'Noto Sans', sans-serif;
            font-size: 20vw;
            font-weight: 900;
            text-align: center;
        }

        /**-----HEADER IMAGES------**/
        #fanta-1{
            position: absolute;
            transition: all 2 ease;
            width: 40%;
            z-index: 5;
        }
        #leaf2{
            left: 0%;
            position: absolute;
            top: 20%;
            width: 20%;
            z-index: 2;
        }
        #leaf3{
            bottom: -15%;
            position: absolute;
            right: 10%;
            transform: rotate(120deg);
            width: 20%;
            z-index: 2;
        }
        #orange2{
            bottom: -25%;
            position: absolute;
            right: 38%;
            width: 10%;
            z-index: 6;
        }
        #orange3{
            bottom: 5%;
            left: -5%;
            position: absolute;
            width: 10%;
        }
        #orange4{
            left: 38%;
            position: absolute;
            top: 26%;
            width: 10%;
            z-index: 3;
        }
    }
}

/**--------FOOTER SECTION--------*/
.footer{
    width: 100%;
    background:linear-gradient(120deg, #c3800c,#ff3700);
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;

    .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        img{
            width: 40px;
            height: 40px;
            object-fit: contain;
            border-radius: 50%;
        }
        .tag{
            /* text-align: center; */
            color: #fff;
            font-size: 1.2em;
        }
    }
}


/**MEDIA QUERIES MOBILE**/

@media screen and (width < 510px) {
    .footer{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 2rem;

        .item{
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}


/**-----MAIN SECTION------**/
.main{
    /**-----TWO (SECTION#2)------**/
    .two{
        align-items: center;
        background-color: #452005;
        color: white;
        display: flex;
        flex-direction: row;
        padding-top: 10vh;

        /**-----SVG BLOCK------**/
        .left__container{
            align-items: center;
            display: flex;
            justify-content: center;
            width: 50%;
            svg{
                margin-top: 20vh;
                width: 90%;
            }
        }

        /**-----FANTA ABOUT------**/
        .right__container{
            display: flex;
            flex-direction: column;
            gap: 5vh 0;
            width: 50%;
            p{
                width: 80%;
            }
        }
    }

    /**-----THREE (SECTION#2)------**/
    .three{
        align-items: center;
        background-color: #452005;
        display: flex;
        flex-direction: row;
        gap: 4rem;
        height: 100vh;
        justify-content: space-around;
        width: 100%;

        /**-----CARD GENERAL------**/
        .card{
            background-color: #fff;
            border-radius: 1rem;
            height: 60%;
            width: 20vw;
        }
        
        /**-----COCOCOLA------**/
        .card:nth-child(1){
            align-items: center;
            background-color: #dd0d0d;
            color: white;
            display: flex;
            flex-direction:column;
            justify-content: end;
            padding: 0.5em 0.2em;
            position: relative;

            .content{
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;

                button{
                    background-color: #fff;
                    border-radius: 30px;
                    border:1px solid #dd0d0d;
                    color: #dd0d0d;
                    font-size: 1.2em;
                    font-weight: bold;
                    outline: none;
                    padding: 0.2em 2rem;
                }
            }

            img{
                position: absolute;
                top: -10%;
                width: 120%;
            }
        }
        /**-----FANTA------- **/
        .card:nth-child(2){
            align-items: center;
            background-color: #c35b0c;
            color: white;
            display: flex;
            flex-direction:column;
            justify-content: end;
            padding: 0.5em 0.2em;
            position: relative;

            .content{
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;

                button{
                    background-color: #fff;
                    border-radius: 30px;
                    border:1px solid #c35b0c;
                    color: #c35b0c;
                    font-size: 1.2em;
                    font-weight: bold;
                    outline: none;
                    padding: 0.2em 2rem;
                }
            }
        }
        /**-----PEPSI------- **/
        .card:nth-child(3){
            align-items: center;
            background-color: #031b6b;
            color: white;
            display: flex;
            flex-direction:column;
            justify-content: end;
            padding: 0.5em 0.2em;
            position: relative;

            .content{
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;

                button{
                    background-color: #fff;
                    border-radius: 30px;
                    border:1px solid #031b6b;
                    color: #031b6b;
                    font-size: 1.2em;
                    font-weight: bold;
                    outline: none;
                    padding: 0.2em 2rem;
                }
            }

            img{
                position: absolute;
                top: -20%;
                width: 110%;
            }
        }
    }
}

/**** -------MEDIA SCREEN MOBILE----- ****/
@media screen and (width<512px){
    .header{
        .nav{
            .nav__list{
                display: none;
            }
        }
    }
    /* .main{
        .two{
            flex-direction: column;
        }
        .three{
            flex-direction: column;
            .card{
                background-color: #fff;
                border-radius: 1rem;
                height: 100vh;
                width: 90vw;
            }
        }
    } */
}